//- #########################################################

	ファイル概要：サイトロゴやグローバルナビなどのヘッダ用ファイル

	#########################################################

header.site-header
	nav.grovalnav
		h1.logo 
			a(href="#")
				img(src="/common/img/logo_carta-black.svg", alt="CRASTA") 
		.info
			ul
				li 
					a(href="#") 会社情報
				li 
					a(href="#") ニュース
				li 
					a(href="#") IR情報
				li 
					a(href="#") 採用情報
				li 
					a(href="#") お問い合わせ
			ul.lang
				li.jp
					a(href="#") JP
				li 
					a(href="#") EN

		.hamburger-menu
			span.hamburger-bar 
			span.hamburger-bar
			span.hamburger-bar
