.main-container{

	.mainvisual{
		display: block;
		width: 100%;
		height: 600px;
		margin: 0 auto 85px;
		background-image: url(../img/hero_pc.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;

		@include mq(sm){
			display: none;
		}
	}

	.-sp{
		display: none;

		@include mq(sm){
			display: block;
			width: 100%;
			height: auto;
			margin-bottom: 50px;
			// height: 0;
			// padding-top: 72.812%;
			// background-image: url(../img/hero_sp.jpg);
		}
	}
}

// .main-container{

// 	.mvbox{
// 		height: 600px;
// 		margin: 0 auto 85px;

// 		.mainvisual{
// 			display: block;
// 			width: 100%;
// 			height: auto;
	
// 			@include mq(sm){
// 				display: none;
// 			}
	
// 			&.sp{
// 				display: none;
	
// 				@include mq(sm){
// 					display: block;
// 					margin-bottom: 55px;
// 					height: 0;
// 					padding-top: 72.812%;
// 				}
// 			}
// 		}
// 	}
// }