@charset "UTF-8";

/* ========================================================
サイトのフッタ
=========================================================*/
.site-footer{	
		background-color: #000;
		padding-bottom: 40px;
		font-family: $font-family;

	/* ========================================================
	共通パーツ
	=========================================================*/

	p{
		margin-bottom: 0;
	}

	ul{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	img{
		display: block;
		width: 100%;
		height: auto;
	}

	.footerbox{

		width: $w-content;
		margin: 0 auto; 
		padding: 0 15px;

		@include mq(sm){
			width: 100%;
		}

			/* ========================================================
			snsアイコン
			=========================================================*/
			.snslink{
				display: flex;
				justify-content: center;
				margin-bottom: $mg * 6;
				padding-top: 50px;

				@include mq(sm){
					margin-bottom: $mg * 5;
					padding-top: 40px;
				}
				
				li{
					padding-right: 30px;

					&:last-child{
						padding-right: 0;
					}
				
					&:hover{
						transition: opacity 0.3s ease;
						opacity: 0.8;
					}
				}
			}

		/* ========================================================
		フッターメニュー
		=========================================================*/
		.navmenu{
			display: flex;

			@include mq(sm){
				margin-bottom: 10px;
				width: 100%;
				flex-wrap: wrap;
			}

			li{
				padding-right: 40px;

				@include mq(sm){
					width: 140px;
					padding-right: 0;
				}
			}

			a{
				text-decoration: none;
				font-size: 1.5rem;
				color: #999;

				@include mq(sm){
					font-size: 1.2rem;
					line-height: 42px;
				}

				.large{
					text-transform: uppercase;
				}
			}
		}

		/* ========================================================
		コピーライト・ロゴ
		=========================================================*/
		.footerbottom{
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding-bottom: 60px;

			@include mq(sm){
				padding-bottom: 0;
			}

			.copyright{
				color: #999;

				@include mq(sm){
					font-size: 12px;
				}
			}

			.logo{
				display: block;
				width: 120px;

				@include mq(sm){
					width: 80px;
				}

				img{
					&:hover{
						transition: opacity 0.3s ease;
						opacity: 0.8;
					}
				}
			}
		}	
	}
}

